<div id="main">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Quản lý tài khoản</h3>
                    <p class="text-subtitle text-muted">Account Manager</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý tài khoản</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>


        <section class="section">
            <div class="card">
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin user</h3>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" id="account-form">
                                    <div class="form-body">
                                        <div class="row">

                                            <div class="col-md-4">
                                                <label>id</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input readonly="readonly" type="text" value=""
                                                            class="form-control _id" name="_id">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Email</label>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control email" type="text" name="email"
                                                            value="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Password</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control password" type="password" value=""
                                                            name="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Số điện thoại</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control phone" type="text" name="phone"
                                                            value="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Họ tên</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control full_name" type="text" value=""
                                                            name="full_name">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Địa chỉ</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control address" type="text" value=""
                                                            name="address">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Role</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <select class="form-select role" name="role">
                                                            <option>user</option>
                                                            <option>admin</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 d-flex justify-content-between">
                                                <div>
                                                    <button type="submit"
                                                        class="btn btn-primary me-1 mb-1 btn-submit">Submit</button>
                                                    <button type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>



        <section class="section">
            <div class="card">
                <div class="card-header">
                    Danh sách tài khoản
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Họ tên</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Role</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody id="account-list">
                            <% accounts.forEach((account, idx)=> { %>
                                <tr class="data-row">
                                    <td>
                                        <%= idx %>
                                            <span class="_id d-none">
                                                <%= account._id %>
                                            </span>
                                            <span class="password d-none">
                                                <%= account.password %>
                                            </span>
                                    </td>
                                    <td class="email">
                                        <%= account.email %>
                                    </td>
                                    <td class="full_name">
                                        <%= account.full_name %>
                                    </td>
                                    <td class="phone">
                                        <%= account.phone %>
                                    </td>
                                    <td class="address">
                                        <%= account.address %>
                                    </td>
                                    <td class="role">
                                        <%= account.role %>
                                    </td>
                                    <td>
                                        <span class="sf-control-btn edit-account">
                                            <i class="bi-pencil-square"></i>
                                        </span>
                                        <span class="sf-control-btn delete-account">
                                            <i class="bi bi-trash"></i>
                                        </span>

                                    </td>
                                </tr>
                                <% })%>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</div>