<div id="main">


    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Quản lý Rule</h3>
                    <p class="text-subtitle text-muted">Machine Manager</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý rule</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>


        <section class="section">
            <div class="card">
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin Rule</h3>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" id="rule-form">
                                    <div class="form-body">
                                        <div class="row">

                                            <div class="col-md-4">
                                                <label>id</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input readonly="readonly" type="string" class="form-control _id"
                                                             name="_id">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Chủ sở hữu</label>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <select class="account-select owner form-select" name="owner">
                                                    <% accounts.forEach((account)=> {  %> 
                                                        <option value="<%= account._id %>"><%= account.full_name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Trang trại</label>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <select class="farm-select farm form-select" name="farm">
                                                    <% farms.forEach((farm)=> {  %> 
                                                        <option value="<%= farm._id %>"><%= farm.name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Cảm biến</label>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <select class="sensor-select sensor form-select" name="sensor">
                                                    <% sensors.forEach((sensor)=> {  %> 
                                                        <option value="<%= sensor._id %>"><%= sensor.name %></option>
                                                    <% }) %>
                                                </select>
                                                <div class="position-relative d-flex">
                                                    <input name="expr" type="button" class="form-control" value=">=" onClick="this.value=(this.value==='<=')?'>=':'<='">
                                                    <input type="number" class="form-control" name="sensorValue">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Thiết bị</label>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <select class="machine-select machine form-select" name="sensor">
                                                    <% machines.forEach((machine)=> {  %> 
                                                        <option value="<%= machine._id %>"><%= machine.name %></option>
                                                    <% }) %>
                                                </select>
                                                <div class="position-relative d-flex">
                                                    <input name="target" type="button" class="form-control" value="ON" onClick="this.value=(this.value==='ON')?'OFF':'ON'">
                                                </div>
                                            </div>

                                            

                                            <div class="col-md-4">
                                                <label>Thời gian bắt đầu</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <input class="form-control" type="time"
                                                            name="start_at">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Thời gian kết thúc</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input class="form-control" type="time"
                                                        name="end_at">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label>Tự động tắt (phút)</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input class="form-control" type="number" value="10"
                                                        name="duration">
                                                </div>
                                            </div>

                                            
                                            <div class="col-md-4">
                                                <label>Trạng thái</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="position-relative">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" value="false" name="state" onClick="this.value=this.checked">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 d-flex justify-content-between">
                                                <div>
                                                    <button type="submit"
                                                        class="btn btn-primary me-1 mb-1 btn-submit">Submit</button>
                                                    <button type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section">
            <div class="card">
                <div class="card-header">
                    Danh sách rule
                </div>

                <div class="card-body">
                    <table class="table table-striped rule-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên thiết bị</th>
                                <th>Định danh</th>
                                <th>Địa chỉ</th>
                                <th>Trang trại</th>
                                <th>Chủ trang trại</th>
                                <th>Email</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody id="rules-list">
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</div>